<nav class="site-nav">
  <strong>Pipeline Steps</strong>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/ind_geno_qc.html' | relative_url }}">1. Sample Variant QC</a></li>
    <li><a href="{{ '/phenotyping.html' | relative_url }}">2. Phenotyping</a></li>
    <li><a href="{{ '/pre_phasing_checks.html' | relative_url }}">3. Pre-Phasing Checks</a></li>
    <li><a href="{{ '/gwas.html' | relative_url }}">4. GWAS</a></li>
    <li><a href="{{ '/post_gwas_checks.html' | relative_url }}">5. Post-GWAS Checks</a></li>
  </ul>

  <strong>Implementation Guides</strong>
  <ul>
    <li><a href="{{ '/dev_guides/ind_geno_qc_detailed.html' | relative_url }}">Sample Variant QC</a></li>
    <li><a href="{{ '/dev_guides/setup_instructions.html' | relative_url }}">Setup Instructions</a></li>
    <li><a href="{{ '/dev_guides/container_create.html' | relative_url }}">Container Creation</a></li>
    <li><a href="{{ '/dev_guides/singularity_install.html' | relative_url }}">Singularity Install</a></li>
  </ul>
</nav>
